/* Start Global Attributes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
body {
    font-family: "noto sans", sans-serif;
    color: black;
    background-color: #FFF2DB;
    min-width: 100vw;
}
.noto-sans-body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
main {
    /* margin: 2rem; */
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
:root {
    --bg-color: rgb(255, 242, 219);
    --footer-color: rgb(0, 48, 146);
    --primary-color: rgb(0, 135, 158);
    --secondary-color: rgb(255, 171, 91);
    --main-text-color: rgb(0,0,0);
}
/* End Global attributes */


/* Start Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 5px 10px;
    width: 100%;
    flex-wrap: wrap; 
}
.logo img {
    min-height: 80px;
    max-height: 120px;
}
.spacer {
    flex: 1;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; 
}
nav ul li a {
    color: var(--bg-color);
    text-decoration: none;
    padding: 0.5rem 1rem; 
    display: block; 
}
nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFAB5B;
    align-items: center;
    width: 100%;
}
.hero-img img {
    flex: 1;
    border-radius: .8rem;
    box-shadow: 4px 4px 20px rgb(0, 135, 158, 0.2);
    max-height: 300px;
    max-width: 400px;
    aspect-ratio: 3/2;
    margin: 30px;
    max-width: 100%; 
}
.hero-title {
    flex: 2;
    text-align: center;
    font-size: clamp(1.5rem, 30vw, 2.5rem);
    text-shadow: 1px 1px 10px rgb(0, 135, 158, 0.2);
}
.hero-title h2 {
    font-size: clamp(.5rem, 15vw, 1rem)
}
/* End Header */


/* Start Footer */
footer {
    background-color: darkblue;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-logo {
    max-width: 300px;
    padding: .2rem;
    margin: 1rem; 
}
.footer-map iframe {
    max-width: 100%;
    width: 100%;
    min-height: 250px;
    border-radius: 12px;
}
img {
    max-width: 100%;
    height: auto;
}
.quick-links h4 {
    color: #FFAB5B;
    margin-left: .7rem;

}
.quick-links ul {
    list-style: none;
    padding: 0;
    width: 10rem;
}
.quick-links li {
    margin: .6rem 0;
}
.quick-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 300ms ease;
}
.quick-links a:hover {
    background-color: #FFAB5B;
    color: black;
    border-radius: 4px;
}
.disclaimer {
    text-align: center;
    grid-column: span 3;
    background-color: #FFF2DB;
    font-weight: 500;
    width: 100%;
}
/* End Footer */


/* Start Events Page */
.events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
}
.event-item {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
    flex: 1 1 45%; 
    max-width: 600px; 
    min-width: 300px;
    width: 100%; 
    font-size: 1.2rem;
}
.event-item h3 {
    margin: 0 0 10px 0;
    color: #00879E;
}
.event-item p {
    margin: .3rem 0;
}
.event-img {
    flex: 1 1 45%; 
    max-width: 600px;
    min-width: 300px;
}
.event-img img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}
/* End Events Page */


/* Start Concession Menu Page */
.menu-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5rem;
}
.menu-images img {
    width: 20rem;
    height: auto;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}
.menu-table {
    width: 80%;
    margin: 10rem auto;
    border-collapse: collapse;
    background-color: #ddd;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}
.menu-table th, .menu-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: 300ms;
}
.menu-table th {
    background-color: #00879E;
    color: white;
}
#banner {
    background-color: #FFAB5B;
}
/* End Concessions Menu Page */


/* Start Location Page */
.visitor-info {
    text-align: justify;   
    padding: 2rem 0;
}
.map {
    width: 30rem;
    height: 30rem;
}
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.page-content h3 {
    margin: 2rem;
}
/* End Location Page */


/* Start Contact Us Page */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    max-width: 90%;
    justify-self: center;
    padding: 1.2rem;
    margin: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}
#inquiries, #emergencies, #customer-service {
    margin-bottom: 3rem;
}
form {
    display: block;
    align-items: center;
    justify-self: center;
}
#unique-h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 10px rgb(0, 135, 158, 0.2);
}  
select, fieldset, textarea, legend, input, button {
    appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}
input[type=text], input[type=submit], input[type=email], textarea {
    border: 2px solid black;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0.5rem 0;
    width: 100%;
    justify-content: left;
}
fieldset {
    border: 2px solid black;
    border-radius: 1rem;
    width: fit-content;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 3rem;
    justify-content: left;
}
input[type=submit]:hover {
    background-color: #00879E;
    color: white;
}
legend {
    font-size: 1.5rem;
    color: #00879E;
    background-color: transparent;
    margin: 0;
}
/* End Contact Us Page */


/* Start Home Page */
#welcome-message {
    display: flex;
    flex: 2 1 90%;
    color: white;
    text-align: justify;
    background-color: #00879E;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    margin: 5rem auto;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 5px 10px 75px rgba(0, 135, 158, 0.2);
}
#featured-shows-banner {
    display: flex;
    flex: 2 1 90%;
    font-size: 2rem;
    color: #00879E;
    margin: 1rem 0;
    text-align: center;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}
.home-widget {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 1rem;
    justify-content: center;
    /* max-width: 90%; */
}
.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.event-item h3 {
    font-size: 2.5rem;
}
button {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #00879E;
    color: white;
    border-radius: 4px;
    width: 100%;
}
button:hover {
    transition: background-color 300ms ease;
    background-color: #FFAB5B;
}
/* End Home Page */


