/* Start Global Attributes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "noto sans", sans-serif;
    color: black;
    background-color: #FFF2DB;
    min-width: 100vh;
}

.noto-sans-body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* .noto-sans-body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} */

main {
    margin: 2rem;
}

:root {
    --bg-color: rgb(255, 242, 219);
    --footer-color: rgb(0, 48, 146);
    --primary-color: rgb(0, 135, 158);
    --secondary-color: rgb(255, 171, 91);
    --main-text-color: rgb(0,0,0);
}

/* End Global attributes */


/* Start Header */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    padding: 5px 10px;
    width: 100%; 
}

.logo img {
    min-height: 80px;
    max-height: 120px;
}

.spacer {
    flex: .9;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    color: var(--bg-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.hero-section {
    display: flex;
    justify-content: right;
    background-color: #FFAB5B;
    align-items: center;
    min-width: 100%;
}

.hero-img img{
    flex: 1;
    border-radius: .8rem;
    box-shadow: 4px 4px 20px rgb(0, 135, 158, 0.2);
    height: 400px;
    width: auto;
    margin: 30px;
}

.hero-title {
    flex: 2;
    text-align: center;
    font-size: clamp(1rem, 20vw, 2rem);
    text-shadow: 1px 1px 10px rgb(0, 135, 158, 0.2) ;
}

.hero-title h2 {
    font-size: 1.5rem;
}
/* End Header */


/* Start Footer */
footer {
    background-color: darkblue;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-logo {
    width: 300px;
    padding: .2rem;
    margin: 1rem; 
}

.footer-map iframe {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

img {
    max-width: 100%;
    height: auto;
}


.quick-links h4 {
    color: #FFAB5B;
    margin-left: .7rem;
    font-size: 1.2rem;
}

.quick-links ul {
    list-style: none;
    padding: 0;
    width: 10rem;
}

.quick-links li {
    margin: .6rem 0;
}

.quick-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 300ms ease;
}

.quick-links a:hover {
    background-color: #FFAB5B;
    color: black;
    border-radius: 4px;
}

.disclaimer {
    text-align: center;
    grid-column: span 3;
    background-color: #FFF2DB;
    font-weight: 500;
    width: 100%;
}
/* End Footer */


/* Start Events Page */
.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin: 1.5rem;
    padding-top: 3rem;
    max-width: 100%;
    overflow: hidden;
}

.event-item {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}

.event-item h3 {
    margin: 0 0 10px 0;
    color: #00879E;
}

.event-item p {
    margin: .3rem 0;
}

.event-item p, .event-item pre {
    margin: .3rem 0;
}

.event-img img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}

/* End Events Page */


/* Start Concession Menu Page */
.menu-images {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

@media (min-width:300px) and (max-width:480px) {
    .menu-images {flex-direction: column;};
}

.menu-images img {
    width: 20rem;
    height: auto;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}

.menu-table {
    width: 80%;
    margin: 10rem auto;
    border-collapse: collapse;
    background-color: #ddd;
    box-shadow: 2px 2px 10px rgba(0, 135, 158, 0.2);
}

.menu-table th, .menu-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: 300ms;
}

.menu-table th {
    background-color: #00879E;
    color: white;
}

#banner {
    background-color: #FFAB5B;
}
/* End Concessions Menu Page */


/* Start Location Page */
.visitor-info {
    text-align: justify;   
    padding: 2rem 0;
}
.map {
    width: 30rem;
    height: 30rem;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.page-content h3 {
    margin: 2rem;
}
/* End Location Page */




/* Start Contact Us Page */
.contact-us-page-content {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
}

#customer-service, #emergencies, #inquiries {
    margin-bottom: 4rem;
}

.contact-form {
    align-items: center;
}

#unique-h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 10px rgb(0, 135, 158, 0.2);
}
/* End Contact Us Page */




/* Start Home Page */
.home-widget {
    position: relative;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#welcome-message {
    width: 80%;
    height: auto;
    text-justify: auto;
    justify-self: center;
    margin: 3rem 0;
}

#featured-shows-banner {
    font-size: 2rem;
    color: #00879E;
    margin: 1rem 0;
}

.events-teaser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.events-teaser .event-item {
    width: 50%;
    padding: 2rem;
    font-size: 1.2rem;
}

.events-teaser h3 {
    font-size: 2.5rem;
}

#button a {
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: #00879E;
    color: white;
    border-radius: 4px;
}

#button a:hover {
    transition: background-color 300ms ease;
    background-color: #FFAB5B;
}
/* End Home Page */